.benefits {
  margin: 8rem 0;
  padding: 10rem 0;

  background-color: #050d14;
  color: var(--white);
  min-height: 95rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 10;

  @include mobile {
    padding: 7.5rem 0;
    margin: 0;
    background-color: unset;
    color: var(--givi-black);
  }
  .container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    z-index: 2;

    @include mobile {
      flex-direction: column-reverse;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 10rem;
      top: 50%;
      transform: translateY(-40%);
      width: 200rem;
      pointer-events: none;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      background-image: radial-gradient(
        50% 50% at 50% 50%,
        #FFE400 0%,
        #ffe60000 100%
      );

      @include mobile {
        display: none;
      }
    }
  }
  &__title {
    color: var(--white);
    margin-bottom: 6rem;

    @include mobile {
      color: var(--givi-black);
      margin-bottom: 4rem;
    }
  }

  &__list {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include mobile {
      max-width: 100%;
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mobile {
      display: block;
    }
  }

  &__item-value {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: var(--givi-yellow);

    @include mobile {
      display: inline;
      font-size: inherit;
      color: inherit;
      font-family: inherit;
    }
  }

  &__img {
    position: absolute;
    pointer-events: none;
    bottom: -10rem;
    right: -4rem;
    width: 112rem;
    height: auto;

    img {
      display: block;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    @include mobile {
      position: static;
      width: 100%;
      bottom: unset;
      left: unset;
      right: unset;
      display: none;
      margin-bottom: 4rem;
    }

    &_mob {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }

  &__socials {
    @include mobile {
      width: 100%;
      order: -10;
      .socials__item {
        flex: 1;
      }
      .socials__link {
        width: auto;
      }
    }
  }
}
