.benefits {
  margin: 8rem 0;
  padding: 10rem 0;

  background-color: #050d14;
  color: var(--white);
  min-height: 95rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 10;
  .container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 10rem;
      top: 50%;
      transform: translateY(-40%);
      width: 200rem;
      pointer-events: none;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      background-image: radial-gradient(
        50% 50% at 50% 50%,
        rgb(19, 95, 123) 0%,
        rgb(19, 95, 123, 0) 100%
      );
    }
  }
  &__title {
    color: var(--white);
    margin-bottom: 6rem;
  }

  &__list {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item-value {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: var(--givi-yellow);
  }

  &__img {
    position: absolute;
    pointer-events: none;
    bottom: -10rem;
    right: -4rem;
    width: 112rem;
    height: auto;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
