.cart {
  padding: 4rem 0 8rem;

  @include mobile {
    overflow: visible;
  }

  &__title {
    margin-bottom: 3rem;
  }
  &__container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(9, 1fr);
    gap: 6rem;

    @include mobile {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0;
      overflow: visible;
      padding-bottom: 0;
      align-items: stretch;
    }
  }
  &__items {
    grid-column: 5 span;
    max-height: 70rem;
    padding-right: 2rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--givi-yellow) #f5f5f5;

    @include mobile {
      padding-right: 0;
      max-height: unset;
      padding-bottom: 10rem;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__summary {
    grid-column: 4 span;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  &__clear {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-color: #f5f5f5;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
    }

    @include hover {
      color: var(--givi-black);
      background-color: var(--givi-yellow-hover);
    }
    &:focus {
      color: var(--givi-black);
      outline: none;
      background-color: var(--givi-yellow-hover);
    }
    &:active {
      color: var(--givi-black);
      background-color: var(--givi-yellow);
    }
  }
}
