.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  position: relative;

  &__check {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
  &__img {
    width: 22rem;
    height: 12.4rem;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__cover {
    width: 22rem;
    height: auto;
    position: relative;
    min-height: 12.4rem;
    flex-shrink: 0;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
    color: #000;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rm {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-color: #f5f5f5;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
    }

    @include hover {
      color: var(--givi-black);
      background-color: var(--givi-yellow-hover);
    }
    &:focus {
      color: var(--givi-black);
      outline: none;
      background-color: var(--givi-yellow-hover);
    }
    &:active {
      color: var(--givi-black);
      background-color: var(--givi-yellow);
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__price {
    font-weight: 400;
    font-size: 2.2rem;
    color: #000;

    &_old {
      font-size: 1.6rem;
      text-decoration: line-through;
      color: #8e8e8e;
    }
  }
}
