.catalog {
  padding: 8rem 0;
  overflow: hidden;
  @include mobile {
    padding: 7.5rem 0;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    margin-bottom: 4rem;
  }

  &__title {
    line-height: 1;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__desc {
    margin: 0;
  }

  &__btn {
    font-size: 2.4rem;
    padding: 2rem 3rem;

    @include mobile {
      display: none;
    }

    &_mob {
      display: none;
      @include mobile {
        display: inline-flex;
        margin-top: 2rem;
        width: 100%;
      }
    }
  }

  &__container {
    overflow: visible;
    .swiper-slide {
      height: auto;
      width: auto;
    }
  }

  &__item {
    position: relative;
    width: 36.8rem;
    height: 70.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 8.4rem 3rem;
    @include mobile {
      width: 44.3rem;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      pointer-events: none;
      user-select: none;
      height: 80%;
      width: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(35, 31, 31, 0) 0%,
        #231f1f 80%
      );
    }
    &-media {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      img,
      video,
      iframe {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      margin: 0;
      z-index: 4;

      font-family: var(--second-family);
      font-weight: 600;
      font-size: 3.9rem;
      text-transform: uppercase;
      color: var(--white);

      a {
        color: inherit;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          z-index: 6;
        }
      }
    }
  }
}
