.consult {
  margin: 8rem 0;
  padding: 10rem 0;

  background-color: #050d14;
  color: var(--white);
  min-height: 95rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 10;

  @include mobile {
    margin: 0;
    padding: 7.5rem 0;
    background-color: transparent;
    color: var(--givi-black);
    min-height: unset;
  }
  .container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 10rem;
      top: 50%;
      transform: translateY(-40%);
      width: 200rem;
      pointer-events: none;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      background-image: radial-gradient(
        50% 50% at 50% 50%,
        #FFE400 0%,
        #ffe60000 100%
      );

      @include mobile {
        display: none;
      }
    }
  }
  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 122rem;
    height: auto;
    @include mobile {
      width: 100%;
      position: static;
      display: none;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: bottom;
    }

    &_mob {
      display: none;
      @include mobile {
        display: block;
        margin-bottom: 4rem;
      }
    }
  }
  &__content {
    flex-grow: 1;
    text-align: right;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50rem;

    @include mobile {
      text-align: left;
      align-items: stretch;
      max-width: 100%;
    }
  }

  &__desc {
    margin: 0;

    @include mobile {
      margin-bottom: 4rem;
    }
  }

  &__title {
    color: var(--white);
    @include mobile {
      margin-bottom: 4rem;
      color: var(--givi-black);
    }
  }

  &__btn {
    max-width: 43.3rem;
    width: 100%;
    padding: 2.1rem 3.5rem;
    font-size: 2.4rem;

    @include mobile {
      max-width: 100%;
    }
  }
}
