.content {
  color: inherit;
  line-height: 1.6;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0 0 1.6rem;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 1px;

    @include hover {
      color: var(--givi-yellow);
    }

    &:focus-visible {
      outline: none;
      color: var(--givi-yellow);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2.8rem 0 1.4rem;
    font-family: var(--second-family);
    text-transform: uppercase;
    color: var(--givi-black);

    span {
      color: var(--givi-yellow);
    }
  }

  h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.05;
  }

  h2 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.1;
  }

  h3 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.15;
  }

  h4 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.2;
  }

  h5 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  h6 {
    font-size: 2rem;
    font-weight: 500;
  }

  ul,
  ol {
    margin: 0 0 1.6rem;
    padding-left: 2.2rem;
  }

  li {
    margin: 0.6rem 0;
  }

  blockquote {
    margin: 2rem 0;
    padding: 1.6rem 2rem;
    border-left: 3px solid var(--givi-yellow);
    background: rgba(248, 222, 0, 0.08);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  figure {
    margin: 2.2rem 0;
  }

  figcaption {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: rgba(28, 28, 28, 0.7);
  }

  hr {
    border: 0;
    height: 1px;
    background: rgba(28, 28, 28, 0.12);
    margin: 2.4rem 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 1.8rem;
  }

  th,
  td {
    text-align: left;
    padding: 1.2rem 1.4rem;
    border-bottom: 1px solid rgba(28, 28, 28, 0.12);
    vertical-align: top;
  }

  thead th {
    font-weight: 600;
  }

  code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    font-size: 0.95em;
    background: rgba(0, 0, 0, 0.06);
    padding: 0.1em 0.35em;
    border-radius: 0.4rem;
  }

  pre {
    margin: 2rem 0;
    padding: 1.6rem;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 1.2rem;
    overflow: auto;
  }

  pre code {
    background: transparent;
    padding: 0;
  }

  // WordPress helpers
  .alignleft {
    float: left;
    margin: 0.6rem 2rem 1.6rem 0;
  }

  .alignright {
    float: right;
    margin: 0.6rem 0 1.6rem 2rem;
  }

  .aligncenter {
    display: block;
    margin: 1.8rem auto;
  }

  @include mobile {
    h1 {
      font-size: 4.2rem;
    }
    h2 {
      font-size: 3.6rem;
    }
    h3 {
      font-size: 2.8rem;
    }
  }
}

