.cta {
  padding: 8rem 0 15rem;
  @include mobile {
    padding-top: 7.5rem;
  }
  &__container {
    display: flex;
    gap: 2rem;
  }

  &__content {
    grid-column: 3 span;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 66rem;
    flex-shrink: 0;
    @include mobile {
      gap: 4rem;
    }
  }

  &__row {
    position: relative;
    width: 100%;

    &_1 {
      height: 34rem;
    }
    &_2 {
      margin-top: -7rem;
      height: 30rem;
    }
    &_3 {
      height: 27rem;
      margin-top: -9rem;
    }
  }

  &__img {
    flex-grow: 1;
    min-height: 72rem;
    position: relative;
    display: flex;
    flex-direction: column;
    @include mobile {
      min-height: unset;
      display: none;
    }


    &_mob {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }

  &__megaphone {
    position: absolute;
    z-index: 6;
    pointer-events: none;
    user-select: none;
    left: -10rem;
    top: -4rem;
    width: 26rem;
    height: auto;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__playback {
    position: absolute;
    z-index: 6;
    pointer-events: none;
    user-select: none;
    right: 9rem;
    bottom: 1rem;
    width: 18rem;
    height: auto;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__img-item {
    position: absolute;
    height: auto;

  }

  &__img-item_1 {
    left: 0;
    top: 4.5rem;
    width: 25.4rem;
  }
  &__img-item_2 {
    left: 29rem;
    top: 10rem;
    width: 22.6rem;
  }
  &__img-item_3 {
    left: 54rem;
    top: 6rem;
    width: 22.7rem;
  }
  &__img-item_4 {
    left: 78rem;
    top: 4rem;
    width: 34.5rem;
  }

  &__img-item_5 {
    left: 0;
    top: .5rem;
    width: 28.5rem;
  }
  &__img-item_6 {
    left: 29rem;
    top: 2.5rem;
    width: 22.6rem;
  }
  &__img-item_7 {
    left: 54rem;
    top: 0rem;
    width: 30.1rem;
  }
  &__img-item_8 {
    right: 1rem;
    top: 7rem;
    width: 22.4rem;
  }

  &__img-item_9 {
    left: 10rem;
    top: unset;
    bottom: 2rem;
    width: 25.6rem;
  }
  &__img-item_10 {
    left: 36rem;
    top: 0rem;
    width: 22.6rem;
  }
  &__img-item_11 {
    right: 24rem;
    top: 1.2rem;
    width: 22.6rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__btn {
    font-weight: 500;
    font-size: 2.4rem;
    padding: 2rem 3.5rem;
  }
}
