.cta {
  overflow: hidden;
  padding: 8rem 0 15rem;
  @include mobile {
    padding-top: 7.5rem;
  }

  // CSS-покачивание: включаем классом из JS после появления
  &--wiggle {
    // desktop амплитуда/угол
    --cta-wiggle-x-pos: 3px;
    --cta-wiggle-x-neg: -3px;
    --cta-wiggle-y-pos: 4px;
    --cta-wiggle-y-neg: -4px;
    --cta-wiggle-rot-pos: 3deg;
    --cta-wiggle-rot-neg: -3deg;

    @include mobile {
      // mobile мягче
      --cta-wiggle-x-pos: 1px;
      --cta-wiggle-x-neg: -1px;
      --cta-wiggle-y-pos: 2px;
      --cta-wiggle-y-neg: -2px;
      --cta-wiggle-rot-pos: 1.5deg;
      --cta-wiggle-rot-neg: -1.5deg;
    }

    // Десктоп: качаем карточки и декор. На мобилке (.cta__img) скрыт,
    // но оставляем легкое качание для .cta__img_mob img.
    .cta__img-item,
    .cta__megaphone img,
    .cta__playback img,
    .cta__img_mob img {
      animation-name: cta-wiggle;
      animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-play-state: paused;
      will-change: transform;
      transform-origin: 50% 50%;
      transform: translate3d(0, 0, 0) rotateZ(0deg);

      // anti-aliasing “лесенки”
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      outline: 1px solid transparent;
    }

    &.cta--wiggle-active {
      .cta__img-item,
      .cta__megaphone img,
      .cta__playback img,
      .cta__img_mob img {
        animation-play-state: running;
      }
    }

    // “рандомизация” скоростей/задержек (десктоп)
    .cta__megaphone img {
      animation-duration: 8.6s;
      animation-delay: 0.06s;
    }
    .cta__playback img {
      animation-duration: 7.9s;
      animation-delay: 0.14s;
    }

    .cta__img-item_1 {
      animation-duration: 7.8s;
      animation-delay: 0.04s;
    }
    .cta__img-item_2 {
      animation-duration: 7.1s;
      animation-delay: 0.18s;
    }
    .cta__img-item_3 {
      animation-duration: 8.3s;
      animation-delay: 0.1s;
    }
    .cta__img-item_4 {
      animation-duration: 7.4s;
      animation-delay: 0.22s;
    }
    .cta__img-item_5 {
      animation-duration: 8.8s;
      animation-delay: 0.08s;
    }
    .cta__img-item_6 {
      animation-duration: 7.6s;
      animation-delay: 0.16s;
    }
    .cta__img-item_7 {
      animation-duration: 9.2s;
      animation-delay: 0.12s;
    }
    .cta__img-item_8 {
      animation-duration: 7.9s;
      animation-delay: 0.2s;
    }
    .cta__img-item_9 {
      animation-duration: 8.5s;
      animation-delay: 0.06s;
    }
    .cta__img-item_10 {
      animation-duration: 7.3s;
      animation-delay: 0.15s;
    }
    .cta__img-item_11 {
      animation-duration: 8.9s;
      animation-delay: 0.09s;
    }

    .cta__img_mob img {
      animation-duration: 6.8s;
      animation-delay: 0.08s;
    }

    // mobile: чуть быстрее, чтобы не “тянулось”
    @include mobile {
      .cta__img_mob img {
        animation-duration: 5.6s;
      }
    }
  }

  @keyframes cta-wiggle {
    0% {
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
    50% {
      transform: translate3d(
          var(--cta-wiggle-x-pos),
          var(--cta-wiggle-y-pos),
          0
        )
        rotateZ(var(--cta-wiggle-rot-pos));
    }
    100% {
      transform: translate3d(
          var(--cta-wiggle-x-neg),
          var(--cta-wiggle-y-neg),
          0
        )
        rotateZ(var(--cta-wiggle-rot-neg));
    }
  }

  &__container {
    display: flex;
    gap: 2rem;
  }

  &__content {
    grid-column: 3 span;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 66rem;
    flex-shrink: 0;
    @include mobile {
      gap: 4rem;
    }
  }

  &__row {
    position: relative;
    width: 100%;
    @include mobile {
      transform: translateX(-10%);
    }
    &_1 {
      height: 34rem;
      @include mobile {
        height: 22rem;
      }
    }
    &_2 {
      margin-top: -7rem;
      height: 30rem;

      @include mobile {
        height: 20.3rem;
      }
    }
    &_3 {
      height: 27rem;
      margin-top: -9rem;

      @include mobile {
        height: 18.5rem;
      }
    }
  }

  &__img {
    flex-grow: 1;
    min-height: 72rem;
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;
    pointer-events: none;
    @include mobile {
      min-height: unset;
      display: none;
      margin-left: calc(-1 * var(--container-offset));
      margin-right: calc(-1 * var(--container-offset));
    }

    &_mob {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }

  &__megaphone {
    position: absolute;
    z-index: 6;
    pointer-events: none;
    user-select: none;
    left: -10rem;
    top: -4rem;
    width: 26rem;
    height: auto;
    @include mobile {
      left: -4rem;
      top: -7rem;
      width: 16rem;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__playback {
    position: absolute;
    z-index: 6;
    pointer-events: none;
    user-select: none;
    right: 9rem;
    bottom: 1rem;
    width: 18rem;
    height: auto;

    @include mobile {
      width: 12rem;
      right: -4rem;
      bottom: -2rem;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__img-item {
    position: absolute;
    height: auto;
    user-select: none;
    pointer-events: none;
  }

  &__img-item_1 {
    left: 0;
    top: 4.5rem;
    width: 25.4rem;

    @include mobile {
      width: 17.1rem;
      top: -1rem;
    }
  }
  &__img-item_2 {
    left: 29rem;
    top: 10rem;
    width: 22.6rem;

    @include mobile {
      width: 15.3rem;
      left: 19rem;
      top: 0.8rem;
    }
  }
  &__img-item_3 {
    left: 54rem;
    top: 6rem;
    width: 22.7rem;

    @include mobile {
      width: 15.3rem;
      top: -1.5rem;
      left: 37rem;
    }
  }
  &__img-item_4 {
    left: 78rem;
    top: 4rem;
    width: 34.5rem;

    @include mobile {
      width: 23.3rem;
      left: 55rem;
      top: -2rem;
    }
  }

  &__img-item_5 {
    left: 0;
    top: 0.5rem;
    width: 28.5rem;

    @include mobile {
      width: 19.5rem;
      top: 0;
    }
  }
  &__img-item_6 {
    left: 29rem;
    top: 2.5rem;
    width: 22.6rem;

    @include mobile {
      width: 15.3rem;
      top: 1rem;
      left: 22rem;
    }
  }
  &__img-item_7 {
    left: 54rem;
    top: 0rem;
    width: 30.1rem;

    @include mobile {
      width: 20.4rem;
      top: 0;
      left: 40rem;
    }
  }
  &__img-item_8 {
    right: 1rem;
    top: 7rem;
    width: 22.4rem;

    @include mobile {
      width: 15.2rem;
      left: 61.5rem;
      top: 3rem;
    }
  }

  &__img-item_9 {
    left: 10rem;
    top: unset;
    bottom: 2rem;
    width: 25.6rem;

    @include mobile {
      width: 17.3rem;
      bottom: 0;
      left: 7rem;
    }
  }
  &__img-item_10 {
    left: 36rem;
    top: 0rem;
    width: 22.6rem;

    @include mobile {
      width: 15.3rem;
      left: 27rem;
      top: 2rem;
    }
  }
  &__img-item_11 {
    right: 24rem;
    top: 1.2rem;
    width: 22.6rem;

    @include mobile {
      width: 15.3rem;
      right: unset;
      top: 4rem;
      left: 45rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__btn {
    font-weight: 500;
    font-size: 2.4rem;
    padding: 2rem 3.5rem;
  }
}
