.cta {
  padding: 8rem 0 5rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4rem;
  }

  &__content {
    grid-column: 3 span;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    grid-column: 7 span;
    min-height: 72rem;
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__btn {
    font-weight: 500;
    font-size: 2.4rem;
    padding: 2rem 3.5rem;
  }
}
