.cta {
  padding: 8rem 0 15rem;
  @include mobile {
    padding-top: 7.5rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4rem;
    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__content {
    grid-column: 3 span;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
      gap: 4rem;
    }
  }

  &__img {
    grid-column: 7 span;
    min-height: 72rem;
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    @include mobile {
      min-height: unset;
      display: none;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      @include mobile {
        position: static;
      }
    }

    &_mob {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__btn {
    font-weight: 500;
    font-size: 2.4rem;
    padding: 2rem 3.5rem;
  }
}
