.faq {
  padding: 8rem 0;
  @include mobile {
    padding: 7.5rem 0;
  }
  &__title {
    margin-bottom: 4rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
    @include mobile {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__item {
    flex-basis: calc(50% - 2rem);
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 5.5rem 6rem;
    min-height: 14.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    &_active {
      .faq__item-btn {
        transform: rotateX(0deg);
      }
    }
    @include mobile {
      padding: 3.5rem 2rem;
      min-height: unset;
      flex-basis: unset;
    }
  }

  &__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__item-title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--givi-black);
  }
  &__item-content {
    box-sizing: content-box;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    will-change: max-height;
  }
  &__item-text {
    margin: 0;
    padding-top: 1rem;
  }

  &__item-btn {
    display: block;
    width: 1.9rem;
    height: 1.1rem;
    transform: rotateX(180deg);
    transform-origin: center;
    transition-property: transform;
    transition-duration: 0.3s;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--givi-black);
    }
  }
}
