.filters-table {

  position: absolute;
  right: 0;
  top: calc(100% + 1rem);
  width: 100%;
  max-width: 80.5rem;

  background-color: #fff;
  z-index: 1000;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: clip-path;
  transition-property: clip-path;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  @include mobile {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: none;
    @include mobile {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 2.7rem 3rem;
      backdrop-filter: blur(4px);
      box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.05);
      background: var(--white);
    }
  }
  &__close {
    width: 2.4rem;
    height: 2.4rem;
    color: #000;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      stroke: currentColor;
      stroke-width: 2px;

    }
  }
  &__content {
    padding: 6rem 4rem;
    @include mobile {
      flex-grow: 1;
    }
  }
  &__box {
    &:not(:last-child){
      margin-bottom: 4rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }
  &__cats {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__cat {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      display: inline-block;
      padding: 1rem 2rem 1.3rem;
      background-color: #f5f5f5;

      transition-property: color, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;

      @include hover {
        color: var(--givi-black);
        background-color: var(--givi-yellow-hover);
      }
      &:focus-visible {
        color: var(--givi-black);
        outline: none;
        background-color: var(--givi-yellow-hover);
      }
      &:active {
        color: var(--givi-black);
        background-color: var(--givi-yellow);
      }
    }

    input:checked ~ span {
      background-color: var(--givi-yellow);
    }
  }

  &__refresh {
    svg {
      fill: none;
      width: 100%;
      height: 100%;
      stroke: #000;
      stroke-width: 2px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 2.2rem;
    color: #000;
  }
  &__actions {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.05);
    background: var(--white);
  }

  &__checks {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__check {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    div {
      background-color: #f5f5f5;
      width: 4rem;
      height: 4rem;
      flex-shrink: 0;

      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('./../img/svg/check.svg');
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
      }
    }

    input:checked ~ div::after {
      opacity: 1;
    }
  }

  &__btn {
    font-family: var(--second-family);
    text-transform: lowercase;
    font-size: 2.4rem;
    padding: 2.1rem 4.2rem;
    font-weight: 500;

    @include mobile {
      font-size: 2.3rem;

      &:last-child {
        flex-grow: 1;
      }
    }
  }
}
