.find {
  padding: 8rem 0;
  @include mobile {
    padding: 7.5rem 0;
  }
  &__container {
    display: flex;
    gap: 4rem;

    @include mobile {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__desc {
    margin: 0;
  }

  &__content {
    flex-basis: 57.6rem;
    max-width: 57.6rem;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include mobile {
      flex-basis: 100%;
    }
  }
  &__form {
    flex-grow: 1;
  }
  &__video {
    @include mobile {
      display: none;
    }
    flex-grow: 1;

    min-height: 77.9rem;
    video,
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
