.find-form {
  &__slider {
    position: relative;
    margin-bottom: 1.5rem;
  }

  &__wrapper {
    overflow: hidden;
    position: relative;
    will-change: transform;
  }

  &__slide {
    display: none;
    &:first-child {
      display: block;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--givi-yellow);

    aspect-ratio: 1 / 1;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2.2rem;
    text-transform: uppercase;
    line-height: 1;
    color: var(--givi-black);
  }
  &__ready {
    display: flex;
    align-items: center;
    gap: 2rem;

    font-weight: 400;
    font-size: 2.2rem;
    color: var(--givi-black);
    & > div {
      width: 4.8rem;
      height: 4.8rem;
      background-color: var(--givi-yellow);
      flex-shrink: 0;

      background-image: url("./../img/svg/check.svg");
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__capture {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  &__label {
    display: block;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    input:checked ~ .find-form__desc {
      background-color: var(--givi-yellow);
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2.2rem;
    padding: 1.6rem 3rem 1.9rem;

    background-color: #f5f5f5;

    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include hover {
      color: var(--givi-black);
      background-color: var(--givi-yellow-hover);
    }
    &:focus {
      color: var(--givi-black);
      outline: none;
      background-color: var(--givi-yellow-hover);
    }
    &:active {
      color: var(--givi-black);
      background-color: var(--givi-yellow);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__btn {
    display: flex;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 2.1rem 3rem;
    transition: opacity 0.3s ease-in-out;

    &:disabled {
      pointer-events: none;
    }

    &_prev {
      transition: opacity 0s, pointer-events 0s;
      opacity: 0;
      pointer-events: none;
    }
  }
}
