.find {
  padding: 8rem 0;

  &__container {
    display: flex;
    gap: 4rem;
  }

  &__content {
    flex-basis: 57.6rem;
    max-width: 57.6rem;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__form {
    flex-grow: 1;
  }
  &__video {
    flex-grow: 1;

    min-height: 77.9rem;
    video,
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
