.footer {
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
  padding: 8rem 0;
  @include mobile {
    padding: 4rem 0;
  }
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 18rem;

    @include mobile {
      flex-direction: column;
      align-items: stretch;
      gap: 5rem;
    }
  }
  &__logo {
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    @include mobile {
      flex-direction: column;
      align-items: stretch;
      gap: 2rem;
    }
    ul {
      flex-direction: column;
      align-items: stretch;
      @include mobile {
        gap: 2rem;
      }
    }
    li a {
      color: var(--givi-black);
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;

    @include mobile {
      align-items: flex-start;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.45);
  }

  &__link[href] {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: 0.3s;

    @include hover {
      color: var(--givi-yellow);
    }
    &:focus {
      outline: none;
      color: var(--givi-yellow);
    }
    &:active {
      color: var(--givi-yellow);
    }
  }
}
