.form {
  &__field {
    display: block;
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    height: 7rem;
    @include mobile {
      height: 8rem;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &.entering {
      height: 12rem;
      overflow-y: auto;
      scrollbar-width: none;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.25);
    transform: translate(3rem, 2.2rem);

    transition-property: transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include mobile {
      font-size: 1.4rem;
      transform: translate(3rem, 2.6rem);
    }
  }

  &__input {
    resize: none;
    display: block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;

    font-weight: 400;
    font-size: 1.8rem;
    color: var(--givi-black);
    padding: 0 3rem;
    &:focus {
      outline: none;

      & ~ .form__label {
        transform: translate(3rem, 0.5rem);
      }
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  textarea.form__input {
    resize: none;
    padding: 2.2rem 3rem;
  }

  &__btn {
    font-size: 2.4rem;
    padding: 2.2rem;
    font-weight: 500;
    display: flex;
    width: 100%;
  }
}
.show-password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  width: 3.2rem;
  height: 3.2rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.form__field.filled {
  .form__label {
    transform: translate(3rem, 0.5rem);

    @include mobile {
      transform: translate(3rem, 1rem);
    }
  }
}
