.get-pack {
  margin: 2rem 0;
  background-color: #000;
  color: var(--white);
  overflow: hidden;
  @include mobile {
    min-height: 90vh;
    padding: 4rem 0 0;
    display: flex;
    flex-direction: column;
  }
  .container {
    @include mobile {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-right: var(--container-offset);
    }
  }
  &__title {
    color: var(--white);
    margin-bottom: 1.5rem;
  }
  &__subtitle {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__current-cat {
    margin: 0;
    font-weight: 300;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }

  &__price {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 4.8rem;
    text-transform: uppercase;
    color: var(--white);
    &_diff {
      font-family: var(--second-family);
      font-size: 3.2rem;
      font-weight: 500;
      text-decoration: line-through;
      color: #8e8e8e;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    & > * {
      flex: 1;

      @include mobile {
        flex: unset;
      }
    }

    @include mobile {
      flex-grow: 1;
      gap: 5rem;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
    }
  }

  &__actions {
    margin-right: 10rem;
  }

  &__wrapper {
    min-height: 40rem;
    flex-basis: 66.7rem;
    max-width: 66.7rem;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    margin-bottom: -6rem;
  }

  &__img {
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__img-board {
    position: absolute;
    z-index: 5;
    bottom: 1rem;
    left: -11rem;
    width: 22rem;
    height: 22rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__img-effect {
    position: absolute;
    top: 10rem;
    left: 40%;
    width: 9.4rem;
    height: 9.4rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__img-spotlight {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 13.3rem;
    height: 13.3rem;
    transform: translate(40%, -20%);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__row {
    position: relative;

    &:not(:first-child){
      margin-top: -5rem;
    }

    &_3 {
      width: 75%;
      margin: 0 auto;
    }
  }
  &__buttons {
    display: flex;
    gap: 1rem;
  }
  &__btn {
    flex: 1;
    height: 6rem;
    font-family: var(--second-family);
    font-size: 2.4rem;
    font-weight: 500;
    padding: 2rem 3rem;
  }
}
