.hero {
  padding: 16.8rem 0;
  background-color: var(--givi-black);
  min-height: 95.3rem;
  overflow: hidden;

  position: relative;

  @include mobile {
    height: 95vh;
    min-height: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &:not(:last-child) {
    margin-bottom: 8rem;
    @include mobile {
      margin-bottom: 7.5rem;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    width: 150rem;
    height: 150rem;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgb(19, 95, 123) 0%,
      rgb(19, 95, 123, 0) 100%
    );

    @include mobile {
      display: none;
      // width: 90rem;
      // bottom: unset;
      // top: 0;
      // transform: translateX(10%) translateY(-40%);
    }
  }

  .container {
    width: 100%;
  }

  &__container {
    position: relative;
    z-index: 5;
    display: flex;

    @include mobile {
      text-align: center;
      justify-content: center;
    }
  }

  &__img {
    position: absolute;
    z-index: 2;
    right: 8rem;
    bottom: 0;
    display: block;
    width: 112.2rem;
    height: auto;
    pointer-events: none;

    @include mobile {
      width: 100%;
      height: 64.8rem;
      bottom: unset;
      top: 0rem;
      right: 0;
      left: 0;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(28, 28, 28, 0) 0%,
          #1c1c1c 50%
        );
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    margin-bottom: 5.6rem;
    max-width: 72rem;

    @include mobile {
      margin-bottom: 1rem;
    }
  }
  &__content {
    @include mobile {
      width: 100%;
    }
  }
  &__desc {
    color: var(--white);
    max-width: 35.6rem;
    line-height: 1.5;

    @include mobile {
      margin: 0 auto;
      max-width: 90%;
      margin-bottom: 4rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 49.6rem;

    @include mobile {
      max-width: 100%;
    }
  }

  &__btn {
    padding: 1.4rem 3.5rem;
    font-size: 2.4rem;
  }
}
