.lesson-item {
  display: flex;
  flex-direction: column;
  position: relative;
  &__cover {
    height: 31.5rem;
    @include mobile {
      height: 28rem;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin: 0;
    font-size: 2.2rem;
    color: #000;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: 0.3s;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    a {
      color: inherit;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 3;
      }
    }

    @include hover {
      color: var(--givi-yellow);
    }
    &:focus-visible {
      outline: none;
      color: var(--givi-yellow);
    }
    &:active {
      color: var(--givi-yellow);
    }
  }

  &__cats {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2.2rem;
    color: #bfbfbf;
  }
}
