.main-catalog {
  padding: 4rem 0 5rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    margin-bottom: 8rem;
  }

  &__actions {
    display: flex;
    gap: 3rem;
    flex-shrink: 0;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__btn {
    text-transform: lowercase;
    padding: 1.2rem 4rem 1.7rem;
    flex-basis: 24.3rem;
    flex-shrink: 0;
  }

  &__search {
    flex-basis: 50.8rem;

    .form__field {
      height: 6rem;
    }
    .form__label {
      transform: translate(3rem, 1.8rem);
    }
  }
}
