.main-catalog {
  padding: 4rem 0 5rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    margin-bottom: 8rem;

    @include mobile {
      align-items: stretch;
      flex-direction: column;
      margin-bottom: 7rem;
    }
  }

  &__actions {
    display: flex;
    gap: 3rem;
    flex-shrink: 0;

    @include mobile {
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__buttons {
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
  }

  &__btn {
    text-transform: lowercase;
    padding: 1.2rem 4rem 1.7rem;
    min-width: 24.3rem;
    flex-shrink: 0;

    @include mobile {
      flex: 1;
      min-width: unset;
    }
  }

  &__search {
    min-width: 50.8rem;
    max-width: 50.8rem;
    @include mobile {
      min-width: unset;
      width: 100%;
      max-width: 100%;
    }

    .form__field {
      height: 6rem;
    }
    .form__label {
      transform: translate(3rem, 1.8rem);
    }
  }
}
