.menu {
  display: none;
  @include mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    height: 100vh;
    z-index: 10;

    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-timing-function: ease;
    transition-duration: 0.3s;
  }
  &__content {
    @include mobile {
      position: relative;
      padding-top: 9rem;
      z-index: 3;
      transform: translateY(-100%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      background-color: var(--white);
    }
  }
  &__overlay {
    @include mobile {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  &__nav {
    @include mobile {
      padding: 3rem 0;
      ul {
        flex-direction: column;

        li a {
          color: var(--givi-black);
        }
      }
    }
  }

  &.menu--active {
    @include mobile {
      opacity: 1;
      pointer-events: all;
      .menu__content {
        transform: translateY(0);
      }
    }
  }
}
