.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: var(--container-offset);
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
  &#product-modal {
    z-index: 1001;
  }
  &.is-active {
    opacity: 1;
    pointer-events: all;
  }
  @include mobile {
    padding: 3rem;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
    backdrop-filter: blur(4px);
    pointer-events: none;
  }

  &__body {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 131rem;
    background-color: var(--white);
    padding: 8rem;
    flex-shrink: 0;
    overflow-y: auto;
    @include mobile {
      max-width: 100%;
      height: 100%;

      padding: 5rem 4rem;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    margin-bottom: 4rem;
  }

  &__title {
    @include mobile {
      font-size: 3.2rem;
    }
  }

  &__close {
    width: 2.8rem;
    height: 2.8rem;
    color: #000;
    flex-shrink: 0;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    @include mobile {
      width: 2.4rem;
      height: 2.4rem;
    }
    svg {
      width: 100%;
      height: 100%;
      stroke: currentColor;
      stroke-width: 2px;
    }

    @include hover {
      transform: rotate(90deg);
    }
  }

  &__content {
    display: flex;
    gap: 4rem;
    min-height: 49rem;

    @include mobile {
      height: 100%;
      flex-direction: column;
      min-height: unset;
    }
  }

  &__media {
    flex-basis: 67.3rem;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 0;
    max-width: 100%;

    @include mobile {
      flex: unset;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include mobile {
      flex-grow: unset;
    }
  }

  &__cats {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    font-weight: 400;
    font-size: 2.2rem;
    color: #bfbfbf;
    @include mobile {
      order: -1;
    }
    a {
      color: inherit;

      @include hover {
        color: var(--givi-yellow);
      }
      &:focus-visible {
        outline: none;
        color: var(--givi-yellow);
      }
    }
  }

  &__text {
    margin-bottom: 4rem;
    font-weight: 300;
    line-height: 1.25;
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 0.6em;
      }
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: auto;
  }

  &__price {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #000;

    &_old {
      font-size: 2.2rem;
      text-decoration: line-through;
      color: #8e8e8e;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__btn {
    font-size: 2.4rem;
    padding: 1.8rem;
  }
  &__slider,
  &__thumbs {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
  &__slider {
    margin-bottom: 1rem;
    .modal__slider-item {
      height: 38rem;
      @include mobile {
        height: 24.6rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__thumbs {
    .modal__slider-item {
      height: 9rem;
      @include mobile {
        height: 6.4rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__video {
    background-color: var(--givi-black);
  }

  &__row {
    display: flex;
    gap: 2rem;
    margin-bottom: 6rem;
    @include mobile {
      flex-direction: column;
      gap: 4rem;
    }
    & > * {
      flex: 1;
    }
  }

  &__lesson {
    &-img {
      margin-bottom: 2rem;
      height: 19.5rem;
      width: 100%;
      @include mobile {
        height: 20.7rem;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      margin: 0;
      font-weight: 400;
      font-size: 2.2rem;
      color: var(--givi-black);
    }
  }

  &__desc &__text {
    margin-bottom: 0;
  }

  &__pack-info {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    @include mobile {
      flex-direction: column;
    }

    & > * {
      margin-bottom: 0;
    }
    & > *:first-child {
      flex-basis: 43.6rem;
      flex-shrink: 0;
      flex-grow: 0;

      @include mobile {
        flex: unset;
      }
    }
    & > *:last-child {
      flex-basis: 51.2rem;
      flex-shrink: 0;
      flex-grow: 0;

      @include mobile {
        flex: unset;
      }
    }
  }

  &__recs-actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column;
    }
    & > * {
      flex-basis: 48.3rem;

      @include mobile {
        flex-basis: unset;
      }
    }
  }

  &_pack {
    .modal__body {
      max-width: 124rem;
    }
  }

  &_recs {
    .modal__body {
      max-width: 176rem;
    }

    .modal__lesson-img {
      height: 29.2rem;
    }
  }
}
