.notes {
  &__top {
    margin-bottom: 5rem;
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__item-wrapper {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  &__item {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: #f5f5f5;
    min-height: 5rem;
    padding: 2.4rem 2rem;
    textarea {
      display: block;
      width: 100%;
      height: auto;
      background: none;
      resize: none;
      border: none;
      scrollbar-width: none;
      font-size: 1.8rem;

      &:focus {
        outline: none;
      }
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    // &_is-editing {
    // }
  }
  &__list {
    max-height: 47rem;
    overflow-y: auto;
    padding-right: 1.5rem;
    @include mobile {
      padding-right: 0.5rem;
    }
  }
  &__actions {
    display: none;
    // display: flex;
    justify-content: flex-end;
    gap: 2rem;

    &_edit {
      display: flex;
    }
  }
  &__btn-cancel,
  &__btn-add {
    padding: 1.3rem 2rem;
    min-width: 14.5rem;
  }
  &__item-date {
    display: block;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.25);
  }

  &__item-actions {
    position: absolute;
    z-index: 4;
    bottom: calc(100% + 1rem);
    right: 0;
  }

  &__item-actions__open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    justify-content: space-between;

    span {
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      background-color: #bfbfbf;
    }
  }
  &__item-actions__dropdown-wrapper {
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;

    box-sizing: content-box;
    max-height: 0;
    overflow: hidden;

    transition-property: max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.1);
    will-change: max-height;
  }
  &__item-actions__dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;

    padding: 2.2rem;

    background: var(--white);

    font-weight: 400;
    font-size: 1.6rem;
    color: var(--givi-black);
  }
  &__item-actions__change {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include hover {
      color: var(--givi-yellow);
    }
    &:focus-visible {
      outline: none;
      color: var(--givi-yellow);
    }
    &:active {
      color: var(--givi-yellow);
    }
  }
}
