.pack {
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__img {
    aspect-ratio: 425 / 307;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 4rem;
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #000;
  }

  &__desc {
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 1.2;
    color: var(--givi-black);
    margin-bottom: 3rem;
    li:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    margin-bottom: 2.5rem;
    margin-top: auto;
  }

  &__price {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #000;

    &_old {
      font-size: 2.2rem;
      text-decoration: line-through;
      color: #8e8e8e;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__btn {
    padding: 1.3rem 2.5rem;
    font-size: 1.8rem;
    line-height: 1.2;
  }
}
