.packs {
  padding: 8rem 0;

  &__title {
    margin-bottom: 4rem;
  }

  &__slider {
    overflow: visible;
    .swiper-slide {
      // width: calc(100% / 4 - 20px);
      height: auto;

      @include mobile {
        width: 44rem;
      }
    }
  }
}
