.profile {
  padding: 4rem 0 5rem;
  position: relative;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 4rem;
    gap: 3rem;

    @include mobile {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 3rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 7rem;
    }
  }

  &__filters {
    margin-bottom: 4rem;
  }
}
