.product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &__img {
    position: relative;
    overflow: hidden;
    aspect-ratio: 560 / 315;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      transition: transform .6s ease;
    }
  }

  &__content {
    flex-grow: 1;
    padding-top: 2rem;

    @include mobile {
      padding-top: 1.5rem;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2.2rem;
    color: #000;
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__price {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #000;

    &_old {
      font-size: 2.2rem;
      text-decoration: line-through;
      color: #8e8e8e;
    }
  }

  &__cats {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 1.8rem;
    color: #bfbfbf;

    a {
      color: inherit;

      @include hover {
        color: var(--givi-yellow);
      }
      &:focus-visible {
        outline: none;
        color: var(--givi-yellow);
      }

    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__incart {
    background-color: #f5f5f5;
    width: 4rem;
    height: 4rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    @include hover {
      color: var(--givi-black);
      background-color: var(--givi-yellow-hover);
    }
    &:focus {
      color: var(--givi-black);
      outline: none;
      background-color: var(--givi-yellow-hover);
    }
    &:active {
      color: var(--givi-black);
      background-color: var(--givi-yellow);
    }
  }

  &__buy {
    height: 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: lowercase;
  }

  &_sidebar {
    flex-direction: row;
    gap: 3rem;

    .product__img {
      width: 30rem;
      height: 17rem;
      flex-shrink: 0;
    }
    .product__content {
      padding-top: 0;
      display: flex;
      flex-direction: column;
    }
    .product__bottom {
      flex-direction: column;
      flex-grow: 1;
      align-items: stretch;
      justify-content: flex-start;
      gap: .8rem;

    }
    .product__title {
      font-size: 1.8rem;
      margin-bottom: .8rem;
    }
    .product__prices {
      margin-bottom: auto;
    }
    .product__price {
      font-size: 2.2rem;
    }

    .product__buy {
      margin-top: auto;
      width: 100%;
    }
  }



  @include hover {
  .product__img img {
    transform: scale(1.1);
    }
  }
}
