.showcase {
  padding: 8rem 0;
  min-height: 80rem;
  display: flex;
  flex-direction: column;

  @include mobile {
    min-height: unset;
    padding: 7.5rem 0;
  }
  &__container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50rem;

    @include mobile {
      max-width: 100%;
      gap: 2rem;
    }
  }

  &__desc {
    font-size: 22px;
    line-height: 1.5;
    color: var(--givi-black);

    ul,
    ol {
      margin: 0;
      padding: 0;
      padding-left: 2.5rem;
    }
  }
}
