.take {
  padding: 8rem 0;

  &__title {
    margin-bottom: 4rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(33.333% - 2rem);
    background-color: #f5f5f5;
    padding: 5.5rem 6rem;
    min-height: 36.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  &__item-title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--givi-black);
  }

  &__item-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
  }

  &__item-desc {
    margin: 0;
  }

  &__item-icon {
    width: 4.8rem;
    height: 4.8rem;
    margin-left: auto;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
