.take {
  overflow: hidden;
  padding: 8rem 0;
  @include mobile {
    padding: 7.5rem 0;
  }
  &__title {
    margin-bottom: 4rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    --highlight: 0;
    --delay: 0ms;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(33.333% - 2rem);
    background-color: #f5f5f5;
    padding: 5.5rem 6rem;
    min-height: 36.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    @include mobile {
      padding: 3.5rem 4rem;
      min-height: unset;
      flex-basis: unset;
    }

    &_no-desc {
      @include mobile {
        flex-direction: row;
      }
    }


  }

  &__item-title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--givi-black);

    span {
      display: inline-block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--givi-yellow);
        transform: scaleX(var(--highlight));
        transform-origin: left;

        transition-duration: .3s;
        transition-property: transform;
        transition-delay: var(--delay);
      }
    }
  }

  &__item-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
  }

  &__item-desc {
    margin: 0;
  }

  &__item-icon {
    width: 4.8rem;
    height: 4.8rem;
    margin-left: auto;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
