<section class="benefits">
  <div class="container">
    <div class="benefits__container">
      <div class="benefits__content">
        <h2 class="title-md benefits__title">
          Я не учу снимать рилсы.<br>
          Я даю режиссёрский подход
        </h2>
        <div class="benefits__img benefits__img_mob">
          <picture>
            <source srcset="./img/givi-camera.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="./img/givi.webp" type="image/webp">
            <img loading="lazy" src="./img/givi.webp" class="image" width="" height="" alt="">
          </picture>
        </div>
        <ul class="benefits__list list-reset">
          <li class="benefits__item">
            <span class="benefits__item-value">15</span>
            <span class="benefits__item-desc">
              лет&nbsp;в&nbsp;профессиональном видео-продакшене: от&nbsp;регионального телевидения в&nbsp;Тюмени
              до&nbsp;comedy production в&nbsp;Москве
            </span>
          </li>
          <li class="benefits__item">
            <span class="benefits__item-value">+70 000</span>
            <span class="benefits__item-desc">
              подписчиков с одного рилса в эксперно-развлекательном жанре
            </span>
          </li>
          <li class="benefits__item">
            <span class="benefits__item-value">3 000 000</span>
            <span class="benefits__item-desc">
              заработал на блоге за месяц
            </span>
          </li>
          <li class="benefits__item">
            <span class="benefits__item-value">comedy club</span>
            <span class="benefits__item-desc">
              и medium quality клиенты для съемок шоу
            </span>
          </li>
          <li class="benefits__item">
            <span class="benefits__item-value">действующий</span>
            <span class="benefits__item-desc">
              креативный продюссер и режиссер
            </span>
          </li>
        </ul>
      </div>

      <div class="benefits__img">
        <picture>
          <source srcset="./img/givi-camera.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="./img/givi.webp" type="image/webp">
          <img loading="lazy" src="./img/givi.webp" class="image" width="" height="" alt="">
        </picture>
      </div>

      <ul class="list-reset socials benefits__socials">
        <li class="socials__item">
          <a href="#" class="socials__link socials__link_fb" target="_blank" aria-label="Наша страница в Facebook">
            <img src="./img/svg/youtube.svg" width="30" height="30" alt="">
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link socials__link_fb" target="_blank" aria-label="Наша страница в Facebook">
            <img src="./img/svg/tg.svg" width="30" height="30" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>