<section class="cart">
  <div class="container">
    @include('./breadcrumbs.html')

    <h1 class="cart__title title-md">
      Корзина
    </h1>

    <div class="cart__box">
      <div class="cart__controls">
        <label class="cart__check check">
          <input type="checkbox" name="Выбрать все" class="visually-hidden">
          <div></div>
          <span>выбрать все</span>
        </label>

        <a href="#" class="btn-reset cart__clear">
          <svg class="" width="24" height="24">
            <use xlink:href="img/sprite.svg#delete"></use>
          </svg>
        </a>
      </div>

      <div class="cart__container">
        <div class="cart__items">
          <article class="cart__item cart-item">
            <label class="cart-item__check check">
              <input type="checkbox" name="Выбрать" class="visually-hidden">
              <div></div>
            </label>
            <div class="cart-item__cover">
              <img src="./img/cart/cover.webp" alt="">
            </div>
            <div class="cart-item__content">
              <h5 class="cart-item__title">Съёмка с естественным светом в домашних условиях</h5>

              <div class="cart-item__controls">
                <div class="cart-item__prices">
                  <div class="cart-item__price">999р</div>
                  <div class="cart-item__price cart-item__price_old">1200р</div>
                </div>

                <a href="#" class="btn-reset cart-item__rm">
                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#delete"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article class="cart__item cart-item">
            <label class="cart-item__check check">
              <input type="checkbox" name="Выбрать" class="visually-hidden">
              <div></div>
            </label>
            <div class="cart-item__cover">
              <img src="./img/cart/cover.webp" alt="">
            </div>
            <div class="cart-item__content">
              <h5 class="cart-item__title">Съёмка с естественным светом в домашних условиях</h5>

              <div class="cart-item__controls">
                <div class="cart-item__prices">
                  <div class="cart-item__price">999р</div>
                  <div class="cart-item__price cart-item__price_old">1200р</div>
                </div>

                <a href="#" class="btn-reset cart-item__rm">
                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#delete"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article class="cart__item cart-item">
            <label class="cart-item__check check">
              <input type="checkbox" name="Выбрать" class="visually-hidden">
              <div></div>
            </label>
            <div class="cart-item__cover">
              <img src="./img/cart/cover.webp" alt="">
            </div>
            <div class="cart-item__content">
              <h5 class="cart-item__title">Съёмка с естественным светом в домашних условиях</h5>

              <div class="cart-item__controls">
                <div class="cart-item__prices">
                  <div class="cart-item__price">999р</div>
                  <div class="cart-item__price cart-item__price_old">1200р</div>
                </div>

                <a href="#" class="btn-reset cart-item__rm">
                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#delete"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article class="cart__item cart-item">
            <label class="cart-item__check check">
              <input type="checkbox" name="Выбрать" class="visually-hidden">
              <div></div>
            </label>
            <div class="cart-item__cover">
              <img src="./img/cart/cover.webp" alt="">
            </div>
            <div class="cart-item__content">
              <h5 class="cart-item__title">Съёмка с естественным светом в домашних условиях</h5>

              <div class="cart-item__controls">
                <div class="cart-item__prices">
                  <div class="cart-item__price">999р</div>
                  <div class="cart-item__price cart-item__price_old">1200р</div>
                </div>

                <a href="#" class="btn-reset cart-item__rm">
                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#delete"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article class="cart__item cart-item">
            <label class="cart-item__check check">
              <input type="checkbox" name="Выбрать" class="visually-hidden">
              <div></div>
            </label>
            <div class="cart-item__cover">
              <img src="./img/cart/cover.webp" alt="">
            </div>
            <div class="cart-item__content">
              <h5 class="cart-item__title">Съёмка с естественным светом в домашних условиях</h5>

              <div class="cart-item__controls">
                <div class="cart-item__prices">
                  <div class="cart-item__price">999р</div>
                  <div class="cart-item__price cart-item__price_old">1200р</div>
                </div>

                <a href="#" class="btn-reset cart-item__rm">
                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#delete"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </div>

        <div class="cart__summary summary">
          <h4 class="summary__title title-sm">Моя корзина</h4>

          <ul class="summary__list list-reset">
            <li>
              Уроков (5)

              <span>5 200 Р</span>
            </li>
            <li>
              Скидка

              <span>-1 800 Р</span>
            </li>
          </ul>

          <div class="summary__total title-sm">
            <span>Итого</span>
            3 400 Р
          </div>

          <div class="summary__total summary__total_mob">
            3996 Р

            <span>4800 р</span>
          </div>

          <div class="summary__buttons">
            <a href="#" class="btn btn-reset summary__btn">
              оплатить
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>