<section class="catalog">
  <div class="container">
    <div class="catalog__header">
      <div class="catalog__top">
        <h2 class="title-md catalog__title">
          Каталог уроков
        </h2>
        <p class="catalog__desc">
          Выбирай категорию - бери один урок - внедряй
        </p>
      </div>
      <a href="#" class="btn btn-reset catalog__btn">
        в каталог
      </a>
    </div>

    <div class="catalog__container swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="catalog__item">
            <div class="catalog__item-media">
              <img src="./img/catalog/01.webp" alt="">
            </div>

            <h3 class="catalog__item-title">
              <a href="#">
                Сценарии
                и&nbsp;удержание
              </a>
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="catalog__item">
            <div class="catalog__item-media">
              <img src="./img/catalog/01.webp" alt="">
            </div>

            <h3 class="catalog__item-title">
              <a href="#">
                Сценарии
                и&nbsp;удержание
              </a>
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="catalog__item">
            <div class="catalog__item-media">
              <img src="./img/catalog/01.webp" alt="">
            </div>

            <h3 class="catalog__item-title">
              <a href="#">
                Сценарии
                и&nbsp;удержание
              </a>
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="catalog__item">
            <div class="catalog__item-media">
              <img src="./img/catalog/01.webp" alt="">
            </div>

            <h3 class="catalog__item-title">
              <a href="#">
                Сценарии
                и&nbsp;удержание
              </a>
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="catalog__item">
            <div class="catalog__item-media">
              <img src="./img/catalog/01.webp" alt="">
            </div>

            <h3 class="catalog__item-title">
              <a href="#">
                Сценарии
                и&nbsp;удержание
              </a>
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="catalog__item">
            <div class="catalog__item-media">
              <img src="./img/catalog/01.webp" alt="">
            </div>

            <h3 class="catalog__item-title">
              <a href="#">
                Сценарии
                и&nbsp;удержание
              </a>
            </h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="catalog__item">
            <div class="catalog__item-media">
              <img src="./img/catalog/01.webp" alt="">
            </div>

            <h3 class="catalog__item-title">
              <a href="#">
                Сценарии
                и&nbsp;удержание
              </a>
            </h3>
          </article>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn-reset catalog__btn catalog__btn_mob">
      в каталог
    </a>
  </div>
</section>