<section class="consult">
  <div class="container">
    <div class="consult__container">
      <div class="consult__content">
        <h2 class="title-md consult__title">Личная консультация с&nbsp;Гиви</h2>

        <p class="consult__desc">
          Продающее описание зачем это нужно.<br>
          Какие бонусы вы получите.
        </p>

        <a href="#" class="btn-reset btn consult__btn">
          Записаться
        </a>
      </div>
    </div>
  </div>

  <div class="consult__img">
    <img src="./img/givi.webp" alt="">
  </div>
</section>