<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="cta__content">
        <h2 class="title-md cta__title">
          Выбери урок
          Внедри один
          Элемент -
          <span>Получи результат</span>
        </h2>
        <div class="cta__img cta__img_mob">
          <picture>
            <source srcset="img/cta-mob.webp" type="image/webp">
            <img loading="lazy" src="img/cta-mob.webp" class="image" width="1224" height="720" alt="">
          </picture>
        </div>
        <div class="cta__actions">
          <a href="#" class="btn btn-reset cta__btn cta__btn_catalog">
            Перейти в каталог
          </a>
          <a href="#" class="btn btn_grey btn-reset cta__btn cta__btn_get">
            Подобрать урок
          </a>
        </div>
      </div>

      <div class="cta__img">
        <div class="cta__megaphone">
          <img src="./img/cta/megaphone.webp" alt="">
        </div>
        <div class="cta__playback">
          <img src="./img/cta/playback.webp" alt="">
        </div>
        <div class="cta__row cta__row_1">
          <img src="./img/cta/01.webp" class="cta__img-item cta__img-item_1" alt="">
          <img src="./img/cta/02.webp" class="cta__img-item cta__img-item_2" alt="">
          <img src="./img/cta/03.webp" class="cta__img-item cta__img-item_3" alt="">
          <img src="./img/cta/04.webp" class="cta__img-item cta__img-item_4" alt="">
        </div>
        <div class="cta__row cta__row_2">
          <img src="./img/cta/05.webp" class="cta__img-item cta__img-item_5" alt="">
          <img src="./img/cta/06.webp" class="cta__img-item cta__img-item_6" alt="">
          <img src="./img/cta/07.webp" class="cta__img-item cta__img-item_7" alt="">
          <img src="./img/cta/08.webp" class="cta__img-item cta__img-item_8" alt="">
        </div>
        <div class="cta__row cta__row_3">
          <img src="./img/cta/09.webp" class="cta__img-item cta__img-item_9" alt="">
          <img src="./img/cta/10.webp" class="cta__img-item cta__img-item_10" alt="">
          <img src="./img/cta/11.webp" class="cta__img-item cta__img-item_11" alt="">
        </div>
      </div>
    </div>
  </div>
</section>