<section class="faq">
  <div class="container">
    <h2 class="faq__title titile-md">
      FAQ
    </h2>

    <ul class="faq__container list-reset">
      <li class="faq__item">
        <div class="faq__item-header">
          <h3 class="faq__item-title">Можно купить один урок?</h3>
          <button class="btn-reset faq__item-btn">
            <svg class="" width="19" height="11">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="faq__item-content">
          <p class="faq__item-text">
            Да, можно купить один урок.
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-header">
          <h3 class="faq__item-title">Можно Подойдёт новичку?</h3>
          <button class="btn-reset faq__item-btn">
            <svg class="" width="19" height="11">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="faq__item-content">
          <p class="faq__item-text">
            Да, можно купить один урок.
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-header">
          <h3 class="faq__item-title">Нужна техника?</h3>
          <button class="btn-reset faq__item-btn">
            <svg class="" width="19" height="11">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="faq__item-content">
          <p class="faq__item-text">
            Да, можно купить один урок.
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-header">
          <h3 class="faq__item-title">Доступ на какой срок?</h3>
          <button class="btn-reset faq__item-btn">
            <svg class="" width="19" height="11">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="faq__item-content">
          <p class="faq__item-text">
            Да, можно купить один урок.
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-header">
          <h3 class="faq__item-title">Рассрочка/зарубежные карты?</h3>
          <button class="btn-reset faq__item-btn">
            <svg class="" width="19" height="11">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="faq__item-content">
          <p class="faq__item-text">
            Да, можно купить один урок.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>