<div class="filters__all filters-table" id="filters">
  <div class="filters-table__heading">
    <p class="title-sm">
      Фильтры
    </p>

    <button class="btn-reset filters-table__close">
      <svg class="" width="24" height="24">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
  <div class="filters-table__content">
    <div class="filters-table__box">
      <div class="filters-table__header">
        <p class="filters-table__title">Категория</p>

        <button class="btn-reset filters-table__refresh">
          <svg class="" width="24" height="24">
            <use xlink:href="img/sprite.svg#refresh"></use>
          </svg>
        </button>
      </div>

      <div class="filters-table__cats">
        <label class="filters-table__cat">
          <input type="checkbox" name="category" class="visually-hidden">
          <span>Сценарии и удержание</span>
        </label>
        <label class="filters-table__cat">
          <input type="checkbox" name="category" class="visually-hidden">
          <span>Идеи и темы</span>
        </label>
        <label class="filters-table__cat">
          <input type="checkbox" name="category" class="visually-hidden">
          <span>Свет и съёмка</span>
        </label>
        <label class="filters-table__cat">
          <input type="checkbox" name="category" class="visually-hidden">
          <span>Монтаж</span>
        </label>
        <label class="filters-table__cat">
          <input type="checkbox" name="category" class="visually-hidden">
          <span>Блог</span>
        </label>
        <label class="filters-table__cat">
          <input type="checkbox" name="category" class="visually-hidden">
          <span>Жанры и форматы</span>
        </label>
        <label class="filters-table__cat">
          <input type="checkbox" name="category" class="visually-hidden">
          <span>Бонусы</span>
        </label>
      </div>
    </div>

    <div class="filters-table__box">
      <div class="filters-table__header">
        <p class="filters-table__title">Просмотр</p>
      </div>
      <div class="filters-table__checks">
        <label class="filters-table__check">
          <input type="checkbox" name="view-all" class="visually-hidden">
          <div></div>
          <span>Показывать просмотренные</span>
        </label>
      </div>
    </div>
  </div>

  <div class="filters-table__actions">
    <a href="#" class="btn btn-reset filters-table__btn">Показать 5 видео</a>
    <a href="#" class="btn btn_grey btn-reset filters-table__btn">сброс</a>
  </div>
</div>