<section class="find">
  <div class="container">
    <div class="find__container">
      <div class="find__content">
        <h2 class="title-md find__title">
          Подобрать урок<br>
          за&nbsp;<span id="sec30">30</span> секунд
        </h2>
        <p class="find__desc">
          Ответь на 3 вопроса - и я подскажу, с&nbsp;чего начать
        </p>

        <form action="#" class="find__form find-form">
          <div class="find-form__slider">
            <div class="find-form__wrapper">
              <div class="find-form__slide">
                <div class="find-form__heading">
                  <h4 class="find-form__capture">
                    Что нужно прямо сейчас?
                  </h4>
                  <span class="find-form__counter">1</span>
                </div>
                <div class="find-form__body">
                  <label class="find-form__label">
                    <input type="checkbox" name="что нужно сейчас" class="visually-hidden">
                    <span class="find-form__desc">
                      Просмотры (удержание)
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="checkbox" name="что нужно сейчас" class="visually-hidden">
                    <span class="find-form__desc">
                      Идеи/темы
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="checkbox" name="что нужно сейчас" class="visually-hidden">
                    <span class="find-form__desc">
                      Картинка (свет/кадр)
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="checkbox" name="что нужно сейчас" class="visually-hidden">
                    <span class="find-form__desc">
                      Монтаж
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="checkbox" name="что нужно сейчас" class="visually-hidden">
                    <span class="find-form__desc">
                      Жанры/форматы
                    </span>
                  </label>
                </div>
              </div>


              <div class="find-form__slide">
                <div class="find-form__heading">
                  <h4 class="find-form__capture">
                    Где снимаешь чаще всего?
                  </h4>
                  <span class="find-form__counter">2</span>
                </div>
                <div class="find-form__body">
                  <label class="find-form__label">
                    <input type="radio" name="Где снимаешь чаще всего?" class="visually-hidden">
                    <span class="find-form__desc">
                      Дома
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="radio" name="Где снимаешь чаще всего?" class="visually-hidden">
                    <span class="find-form__desc">
                      В студии
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="radio" name="Где снимаешь чаще всего?" class="visually-hidden">
                    <span class="find-form__desc">
                      И дома, и в студии
                    </span>
                  </label>
                </div>
              </div>


              <div class="find-form__slide">
                <div class="find-form__heading">
                  <h4 class="find-form__capture">
                    Уровень
                  </h4>
                  <span class="find-form__counter">3</span>
                </div>
                <div class="find-form__body">
                  <label class="find-form__label">
                    <input type="radio" name="Уровень" class="visually-hidden">
                    <span class="find-form__desc">
                      Новичок
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="radio" name="Уровень" class="visually-hidden">
                    <span class="find-form__desc">
                      Уже снимаю, но нет стабильности
                    </span>
                  </label>
                  <label class="find-form__label">
                    <input type="radio" name="Уровень" class="visually-hidden">
                    <span class="find-form__desc">
                      Снимаю регулярно, хочу сильнее
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="find-form__actions">
            <button class="btn btn-reset find-form__btn find-form__btn_next" disabled>Далее</button>
            <button class="btn btn_grey btn-reset find-form__btn find-form__btn_prev">назад</button>
          </div>
        </form>
      </div>
      <div class="find__video">
        <img src="./img/find.webp" alt="">
      </div>
    </div>
  </div>
</section>
