<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__left">
        <a href="#" class="footer__logo logo">
          <svg class="">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>

        <ul class="list-reset socials footer__socials">
          <li class="socials__item">
            <a href="#" class="socials__link socials__link_fb" target="_blank" aria-label="Наша страница в Facebook">
              <img src="./img/svg/youtube.svg" width="30" height="30" alt="">
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link socials__link_fb" target="_blank" aria-label="Наша страница в Facebook">
              <img src="./img/svg/tg.svg" width="30" height="30" alt="">
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer__nav nav">
        <ul>
          <li>
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#">Каталог</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">Сценарии и удержание</a>
          </li>
          <li>
            <a href="#">Идеи и темы</a>
          </li>
          <li>
            <a href="#">Свет и съёмка</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">Монтаж</a>
          </li>
          <li>
            <a href="#">Жанры и форматы</a>
          </li>
          <li>
            <a href="#">Бонусы</a>
          </li>
        </ul>
      </nav>

      <div class="footer__right">
        <div class="footer__item">
          <a href="#" class="footer__link">
            Политика конфиденциальности
          </a>
        </div>
        <div class="footer__item">
          <small class="footer__link">
            ©2026 Гивиплей
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>