<section class="get-pack">
  <div class="container container_no-right">
    <div class="get-pack__container">
      <div class="get-pack__content">
        <h2 class="get-pack__title title-md">Паком выгоднее</h2>
        <p class="get-pack__subtitle">
          Покупай все уроки категории и экономь
        </p>
        <p class="get-pack__current-cat">
          Сценарии и удержание
        </p>
      </div>

      <div class="get-pack__actions">
        <div class="get-pack__prices">
          <div class="get-pack__price">
            15 999р
          </div>
          <div class="get-pack__price_diff">
            18 000р
          </div>
        </div>

        <div class="get-pack__buttons">
          <a href="#" class="btn btn-reset btn_white get-pack__btn get-pack__btn_incart">
            В корзину
          </a>
          <a href="#" class="btn btn-reset get-pack__btn">
            Купить
          </a>
        </div>
      </div>

      <div class="get-pack__wrapper">
        <div class="get-pack__img-board">
          <img src="./img/pack/board.webp" alt="">
        </div>
        <div class="get-pack__img-effect">
          <img src="./img/pack/effect.webp" alt="">
        </div>
        <div class="get-pack__img-spotlight">
          <img src="./img/pack/spotlight.webp" alt="">
        </div>
        <div class="get-pack__img">



          <div class="get-pack__row get-pack__row_1">
            <picture>
              <source srcset="./img/pack/01.webp" type="image/webp">
              <img loading="lazy" src="./img/pack/01.webp" aria-hidden="true" class="image" width="640" height="180"
                alt="">
            </picture>
          </div>
          <div class="get-pack__row get-pack__row_2">
            <picture>
              <source srcset="./img/pack/02.webp" type="image/webp">
              <img loading="lazy" src="./img/pack/02.webp" aria-hidden="true" class="image" width="640" height="180"
                alt="">
            </picture>
          </div>
          <div class="get-pack__row get-pack__row_3">
            <picture>
              <source srcset="./img/pack/03.webp" type="image/webp">
              <img loading="lazy" src="./img/pack/03.webp" aria-hidden="true" class="image" width="640" height="180"
                alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>