<section class="get-pack">
  <div class="container container_no-right">
    <div class="get-pack__container">
      <div class="get-pack__content">
        <h2 class="get-pack__title title-md">Паком выгоднее</h2>
        <p class="get-pack__subtitle">
          Покупай все уроки категории и экономь
        </p>
        <p class="get-pack__current-cat">
          Сценарии и удержание
        </p>
      </div>

      <div class="get-pack__actions">
        <div class="get-pack__prices">
          <div class="get-pack__price">
            15 999р
          </div>
          <div class="get-pack__price_diff">
            18 000р
          </div>
        </div>

        <div class="get-pack__buttons">
          <a href="#" class="btn btn-reset btn_white get-pack__btn get-pack__btn_incart">
            В корзину
          </a>
          <a href="#" class="btn btn-reset get-pack__btn">
            Купить
          </a>
        </div>
      </div>

      <div class="get-pack__img">
        <img src="./img/pack.webp" alt="">
      </div>
    </div>
  </div>
</section>