<section class="guide">
  <div class="container">
    <h2 class="title-md guide__title">Как происходит доступ</h2>

    <div class="guide__container">
      <div class="guide__item">
        <p class="guide__item-capture title-sm">Выбираешь урок или набор</p>
        <div class="guide__item-bottom">
          <div class="guide__item-icon">
            <img src="./img/guide/01.svg" width="56" height="56" alt="">
          </div>
        </div>
      </div>
      <div class="guide__item">
        <p class="guide__item-capture title-sm">Оплачиваешь</p>
        <div class="guide__item-bottom">
          <div class="guide__item-icon">
            <img src="./img/guide/02.svg" width="56" height="56" alt="">
          </div>
        </div>
      </div>
      <div class="guide__item">
        <p class="guide__item-capture title-sm">Получаешь доступ</p>
        <div class="guide__item-bottom">
          <div class="guide__item-icon">
            <img src="./img/guide/03.svg" width="56" height="56" alt="">
          </div>
        </div>
      </div>
      <div class="guide__item">
        <p class="guide__item-capture title-sm">Смотришь и&nbsp;внедряешь на&nbsp;практике</p>
        <div class="guide__item-bottom">
          <div class="guide__item-icon">
            <img src="./img/guide/04.svg" width="56" height="56" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="guide__img">
      <img src="./img/access.webp" aria-hidden="true" alt="">
    </div>
  </div>
</section>