<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="title-lg hero__title split-text">
          выбери урок под&nbsp;свою задачу
        </h1>

        <p class="hero__desc">
          Маркетплейс по&nbsp;созданию
          коротких видео от&nbsp;GIVI.
          Покупаешь только необходимое
        </p>

        <div class="hero__actions">
          <a href="#" class="hero__btn hero__btn_choice btn btn-reset">выбрать урок</a>
          <a href="#" class="hero__btn hero__btn_choice btn btn_white btn-reset">Подобрать урок</a>
        </div>
      </div>

    </div>
    <div class="hero__img">
      <img src="./img/givi.webp" alt="">
    </div>
  </div>
</section>
