<div class="menu" data-menu>
  <div class="menu__overlay" data-menu-overlay></div>

  <div class="menu__content">
    <nav class="menu__nav nav">
      <ul class="">
        <li>
          <a href="#">Главная</a>
        </li>
        <li>
          <a href="#">Каталог</a>
        </li>
        <li>
          <a href="#">Сценарии и удержание</a>
        </li>
        <li>
          <a href="#">Идеи и темы</a>
        </li>
        <li>
          <a href="#">Свет и съёмка</a>
        </li>
        <li>
          <a href="#">Монтаж</a>
        </li>
        <li>
          <a href="#">Жанры и форматы</a>
        </li>
        <li>
          <a href="#">Бонусы</a>
        </li>
      </ul>
    </nav>
  </div>
</div>