<div class="menu" data-menu="profile">
  <div class="menu__overlay" data-menu-overlay="profile"></div>

  <div class="menu__content">
    <nav class="menu__nav nav">
      <ul class="">
        <li>
          <a href="#" class="dropdown__item btn-reset">мои видео</a>
        </li>
        <li>
          <a href="#" class="dropdown__item btn-reset">настройка</a>
        </li>
        <li>
          <a href="#">Сценарии и удержание</a>
        </li>
        <li>
          <a href="#" class="dropdown__item btn-reset">выход</a>
        </li>
      </ul>
    </nav>
  </div>
</div>