<section class="packs">
  <div class="container">
    <h2 class="title-md packs__title">
      Не хочешь искать сам - бери набор
    </h2>
    <div class="packs__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="packs__item pack">
            <div class="pack__img">
              <picture>
                <source srcset="./img/packs/01.webp" type="image/webp">
                <img loading="lazy" src="./img/packs/01.jpg" class="image" width="425" height="307" alt="Pack 1">
              </picture>
            </div>

            <div class="pack__content">
              <h3 class="pack__title">
                СТарт
              </h3>
              <ul class="pack__desc list-reset">
                <li>Как расположить себя в кадре</li>
                <li>Съёмка с&nbsp;естественным светом<br>в&nbsp;домашних условиях</li>
                <li>CapCut</li>
              </ul>

              <div class="pack__prices">
                <div class="pack__price pack__price_new">
                  9999р
                </div>
                <div class="pack__price pack__price_old">
                  12000р
                </div>
              </div>

              <div class="pack__actions">
                <a href="#" class="pack__btn btn btn-reset">
                  Забрать набор
                </a>
                <a href="#" class="pack__btn btn btn_white btn-reset">
                  подробнее
                </a>
              </div>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="packs__item pack">
            <div class="pack__img">
              <picture>
                <source srcset="./img/packs/02.webp" type="image/webp">
                <img loading="lazy" src="./img/packs/02.jpg" class="image" width="425" height="307" alt="Pack 1">
              </picture>
            </div>

            <div class="pack__content">
              <h3 class="pack__title">
                Выделиться
              </h3>
              <ul class="pack__desc list-reset">
                <li>Экспертно-развлекательный</li>
                <li>Провокация</li>
                <li>Видеовизитка</li>
              </ul>

              <div class="pack__prices">
                <div class="pack__price pack__price_new">
                  9999р
                </div>
                <div class="pack__price pack__price_old">
                  12000р
                </div>
              </div>

              <div class="pack__actions">
                <a href="#" class="pack__btn btn btn-reset">
                  Забрать набор
                </a>
                <a href="#" class="pack__btn btn btn_white btn-reset">
                  подробнее
                </a>
              </div>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="packs__item pack">
            <div class="pack__img">
              <picture>
                <source srcset="./img/packs/03.webp" type="image/webp">
                <img loading="lazy" src="./img/packs/03.jpg" class="image" width="425" height="307" alt="Pack 1">
              </picture>
            </div>

            <div class="pack__content">
              <h3 class="pack__title">
                Просмотры
              </h3>
              <ul class="pack__desc list-reset">
                <li>Хуки: визуальные и&nbsp;аудиальные</li>
                <li>Триггеры и&nbsp;написание сценариев</li>
                <li>Pixar или&nbsp;South Park</li>
              </ul>

              <div class="pack__prices">
                <div class="pack__price pack__price_new">
                  9999р
                </div>
                <div class="pack__price pack__price_old">
                  12000р
                </div>
              </div>

              <div class="pack__actions">
                <a href="#" class="pack__btn btn btn-reset">
                  Забрать набор
                </a>
                <a href="#" class="pack__btn btn btn_white btn-reset">
                  подробнее
                </a>
              </div>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="packs__item pack">
            <div class="pack__img">
              <picture>
                <source srcset="./img/packs/04.webp" type="image/webp">
                <img loading="lazy" src="./img/packs/04.jpg" class="image" width="425" height="307" alt="Pack 1">
              </picture>
            </div>

            <div class="pack__content">
              <h3 class="pack__title">
                Идеи
              </h3>
              <ul class="pack__desc list-reset">
                <li>Research-системы</li>
                <li>Поиск тем</li>
                <li>Pixar</li>
              </ul>

              <div class="pack__prices">
                <div class="pack__price pack__price_new">
                  9999р
                </div>
                <div class="pack__price pack__price_old">
                  12000р
                </div>
              </div>

              <div class="pack__actions">
                <a href="#" class="pack__btn btn btn-reset">
                  Забрать набор
                </a>
                <a href="#" class="pack__btn btn btn_white btn-reset">
                  подробнее
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>