<div class="modal modal_recs">
  <div class="modal__overlay"></div>

  <div class="modal__body">
    <div class="modal__header">
      <p class="modal__title title-md">
        Рекомендую эти уроки
      </p>
      <button class="btn-reset modal__close">
        <svg class="" width="27" height="27">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="modal__row">
      <div class="modal__lesson">
        <div class="modal__lesson-img">
          <img src="./img/cart/cover.webp" alt="">
        </div>
        <p class="modal__lesson-title">
          Как расположить себя в кадре
        </p>
      </div>
      <div class="modal__lesson">
        <div class="modal__lesson-img">
          <img src="./img/cart/cover.webp" alt="">
        </div>
        <p class="modal__lesson-title">
          Как расположить себя в кадре
        </p>
      </div>
      <div class="modal__lesson">
        <div class="modal__lesson-img">
          <img src="./img/cart/cover.webp" alt="">
        </div>
        <p class="modal__lesson-title">
          Как расположить себя в кадре
        </p>
      </div>
    </div>

    <div class="modal__recs-actions">
      <a href="#" class="btn btn-reset modal__btn">
        Забрать уроки
      </a>
      <a href="#" class="btn btn_grey btn-reset modal__btn modal__btn_incart">
        Перейти в каталог
      </a>
    </div>
  </div>
</div>