<div class="modal modal_pack">
  <div class="modal__overlay"></div>

  <div class="modal__body">
    <div class="modal__header">
      <p class="modal__title title-md">
        набор <span>старт</span>
      </p>
      <button class="btn-reset modal__close">
        <svg class="" width="27" height="27">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="modal__row">
      <div class="modal__lesson">
        <div class="modal__lesson-img">
          <img src="./img/cart/cover.webp" alt="">
        </div>
        <p class="modal__lesson-title">
          Как расположить себя в кадре
        </p>
      </div>
      <div class="modal__lesson">
        <div class="modal__lesson-img">
          <img src="./img/cart/cover.webp" alt="">
        </div>
        <p class="modal__lesson-title">
          Как расположить себя в кадре
        </p>
      </div>
      <div class="modal__lesson">
        <div class="modal__lesson-img">
          <img src="./img/cart/cover.webp" alt="">
        </div>
        <p class="modal__lesson-title">
          Как расположить себя в кадре
        </p>
      </div>
    </div>

    <div class="modal__pack-info">
      <div class="modal__desc">
        <div class="modal__cats">
          <a href="#">Сценарии и удержание</a>
        </div>
        <div class="modal__text">
          <p>
            Если вас пролистывают в первые секунды, вам может помочь этот урок.
          </p>
          <p>
            Хуки под разные форматы + что ставить в начало
          </p>
        </div>
      </div>
      <div>
        <div class="modal__prices">
          <div class="modal__price">999р</div>
          <div class="modal__price modal__price_old">1200р</div>
        </div>

        <div class="modal__actions">
          <a href="#" class="btn btn-reset modal__btn">
            купить
          </a>
          <a href="#" class="btn btn_grey btn-reset modal__btn modal__btn_incart">
            в корзину
          </a>
        </div>
      </div>

    </div>
  </div>
</div>