<section class="profile">
  <div class="container">
    @include('./breadcrumbs.html')

    <div class="profile__header">
      <h1 class="title-md profile__title">
        мои видео
      </h1>
      <button class="btn-reset btn btn_grey profile__btn" data-target="filters">
        Фильтры
      </button>

      @include('./filters-table.html')
    </div>
    @include('./filters.html')

    <div class="profile__grid">
      <article class="profile__item lesson-item">
        <div class="lesson-item__cover">
          <img src="./img/cart/cover.webp" width="560" height="315" alt="">
        </div>
        <p class="lesson-item__title"><a href="#">
            Съёмка с естественным светом в домашних условиях условиях
          </a></p>
        <div class="lesson-item__cats">
          <span>Сценарии и удержание</span>
        </div>
      </article>
      <article class="profile__item lesson-item">
        <div class="lesson-item__cover">
          <img src="./img/cart/cover.webp" width="560" height="315" alt="">
        </div>
        <p class="lesson-item__title"><a href="#">
            Съёмка с естественным светом в домашних условиях условиях
          </a></p>
        <div class="lesson-item__cats">
          <span>Сценарии и удержание</span>
        </div>
      </article>
      <article class="profile__item lesson-item">
        <div class="lesson-item__cover">
          <img src="./img/cart/cover.webp" width="560" height="315" alt="">
        </div>
        <p class="lesson-item__title"><a href="#">
            Съёмка с естественным светом в домашних условиях условиях
          </a></p>
        <div class="lesson-item__cats">
          <span>Сценарии и удержание</span>
        </div>
      </article>
      <article class="profile__item lesson-item">
        <div class="lesson-item__cover">
          <img src="./img/cart/cover.webp" width="560" height="315" alt="">
        </div>
        <p class="lesson-item__title"><a href="#">
            Съёмка с естественным светом в домашних условиях условиях
          </a></p>
        <div class="lesson-item__cats">
          <span>Сценарии и удержание</span>
        </div>
      </article>
      <article class="profile__item lesson-item">
        <div class="lesson-item__cover">
          <img src="./img/cart/cover.webp" width="560" height="315" alt="">
        </div>
        <p class="lesson-item__title"><a href="#">
            Съёмка с естественным светом в домашних условиях условиях
          </a></p>
        <div class="lesson-item__cats">
          <span>Сценарии и удержание</span>
        </div>
      </article>
      <article class="profile__item lesson-item">
        <div class="lesson-item__cover">
          <img src="./img/cart/cover.webp" width="560" height="315" alt="">
        </div>
        <p class="lesson-item__title"><a href="#">
            Съёмка с естественным светом в домашних условиях условиях
          </a></p>
        <div class="lesson-item__cats">
          <span>Сценарии и удержание</span>
        </div>
      </article>
    </div>

  </div>
</section>