<section class="showcase">
  <div class="container">
    <div class=" showcase__container">
      <div class="showcase__content">
        <h2 class="title-md showcase__title">
          Это не курс<br>
          Это витрина решений
        </h2>
        <div class="showcase__desc">
          <ul>
            <li>Один урок = одно решение</li>
            <li>Смотришь - внедряешь - получаешь результат</li>
            <li>Собери набор под свою задачу</li>
          </ul>
        </div>
      </div>

      <div class="showcase__covers">
        <div class="showcase__item showcase__item_1">
          <img src="./img/showcase/01.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__item showcase__item_2">
          <img src="./img/showcase/04.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__item showcase__item_3">
          <img src="./img/showcase/03.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__item showcase__item_4">
          <img src="./img/showcase/02.webp" aria-hidden="true" alt="">
        </div>

        <div class="showcase__decor showcase__decor_1">
          <img src="./img/decor/camera.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__decor showcase__decor_2">
          <img src="./img/decor/cc.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__decor showcase__decor_3">
          <img src="./img/decor/ap.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__decor showcase__decor_4">
          <img src="./img/decor/plenka.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__decor showcase__decor_5">
          <img src="./img/decor/plenka-circle.webp" aria-hidden="true" alt="">
        </div>
        <div class="showcase__decor showcase__decor_6">
          <img src="./img/decor/plenka-blur.webp" aria-hidden="true" alt="">
        </div>
      </div>


    </div>
  </div>
</section>