<section class="take">
  <div class="container">
    <h2 class="title-md take__title">Бери урок, если:</h2>

    <div class="take__container">
      <article class="take__item">
        <h3 class="take__item-title">не знаешь что снимать</h3>

        <div class="take__item-bottom">
          <div class="take__item-desc">
            Темы закончились
          </div>
          <div class="take__item-icon">
            <img src="./img/svg/question.svg" width="48" height="48" alt="">
          </div>
        </div>
      </article>
      <article class="take__item">
        <h3 class="take__item-title">Ролики не досматривают</h3>

        <div class="take__item-bottom">
          <div class="take__item-desc">
            Нет структуры

          </div>
          <div class="take__item-icon">
            <img src="./img/svg/eye.svg" width="48" height="48" alt="">
          </div>
        </div>
      </article>
      <article class="take__item">
        <h3 class="take__item-title">Закрывают в&nbsp;первые 2&nbsp;секунды</h3>

        <div class="take__item-bottom">
          <p class="take__item-desc">
            Слабый хук
          </p>
          <div class="take__item-icon">
            <img src="./img/svg/time.svg" width="48" height="48" alt="">
          </div>
        </div>
      </article>
      <article class="take__item">
        <h3 class="take__item-title">Дешевая картинка</h3>

        <div class="take__item-bottom">
          <p class="take__item-desc">
            Свет/кадр не работают
          </p>
          <div class="take__item-icon">
            <img src="./img/svg/pic.svg" width="48" height="48" alt="">
          </div>
        </div>
      </article>
      <article class="take__item">
        <h3 class="take__item-title">Есть просмотры</h3>

        <div class="take__item-bottom">
          <p class="take__item-desc">
            Но нет подписок/заявок
          </p>
          <div class="take__item-icon">
            <img src="./img/svg/graph.svg" width="48" height="48" alt="">
          </div>
        </div>
      </article>
      <article class="take__item">
        <h3 class="take__item-title">
          Хочешь<br>
          чем-то выделиться
        </h3>

        <div class="take__item-bottom">
          <p class="take__item-desc">
          </p>
          <div class="take__item-icon">
            <img src="./img/svg/squares.svg" width="48" height="48" alt="">
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
