// @include font-face("Muller", "MullerRegular", 400, normal);

@include font-face("Noto Sans", "NotoSans-Light", 300, normal);
@include font-face("Noto Sans", "NotoSans-Regular", 400, normal);
@include font-face("Noto Sans", "NotoSans-Medium", 500, normal);

@include font-face("UNCAGE", "UNCAGE-Regular", 400, normal);
@include font-face("UNCAGE", "UNCAGE-Medium", 500, normal);
@include font-face("UNCAGE", "UNCAGE-SemiBold", 600, normal);
