/* Titles ============================= */
.title-lg {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 7rem;
  text-transform: uppercase;
  color: var(--givi-yellow);

  @include mobile {
    font-size: 4.8rem;
  }
}
.title-md {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #000;

  span {
    color: var(--givi-yellow);
  }
}

.title-sm {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--givi-black);
}

/* Buttons ============================= */

.btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--givi-black);
  text-transform: uppercase;

  background-color: var(--givi-yellow);
  padding: 1rem 2rem;

  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &_grey {
    background-color: #f5f5f5;
  }
  &_white {
    background-color: var(--white);
  }
  @include hover {
    color: var(--givi-black);
    background-color: var(--givi-yellow-hover);
  }
  &:focus {
    color: var(--givi-black);
    outline: none;
    background-color: var(--givi-yellow-hover);
  }
  &:active {
    color: var(--givi-black);
    background-color: var(--givi-yellow);
  }
}

.link-btn {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: 0.3s;

  @include hover {
    color: var(--givi-yellow);
  }
  &:focus {
    outline: none;
    color: var(--givi-yellow);
  }
  &:active {
    color: var(--givi-yellow);
  }
}

/*Elements ==================*/

.logo {
  display: block;
  width: 12.7rem;
  height: 2rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--givi-black);
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @include hover {
      fill: var(--givi-yellow);
    }
    &:focus {
      outline: none;
      fill: var(--givi-yellow);
    }
    &:active {
      fill: var(--givi-yellow);
    }
  }
}

.burger {
  @include burger;
}
