/* Titles ============================= */
.title-lg {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 7rem;
  text-transform: uppercase;
  color: var(--givi-yellow);

  @include mobile {
    font-size: 4.8rem;
  }
}
.title-md {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #000;

  span {
    color: var(--givi-yellow);
  }
}

.title-sm {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--givi-black);
}

/* Buttons ============================= */

.btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--givi-black);
  text-transform: uppercase;

  background-color: var(--givi-yellow);
  padding: 1rem 2rem;

  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &_grey {
    background-color: #f5f5f5;
  }
  &_white {
    background-color: var(--white);
  }
  @include hover {
    color: var(--givi-black);
    background-color: var(--givi-yellow-hover);
  }
  &:focus-visible {
    color: var(--givi-black);
    outline: none;
    background-color: var(--givi-yellow-hover);
  }
  &:active {
    color: var(--givi-black);
    background-color: var(--givi-yellow);
  }
  &:disabled {
    pointer-events: none;
    background-color: #e6e6e6;
    color: #bfbfbf;
  }
}

.link-btn {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: 0.3s;

  @include hover {
    color: var(--givi-yellow);
  }
  &:focus-visible {
    outline: none;
    color: var(--givi-yellow);
  }
  &:active {
    color: var(--givi-yellow);
  }
}

/*Elements ==================*/

.logo {
  display: block;
  width: 12.7rem;
  height: 2rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--givi-black);
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @include hover {
      fill: var(--givi-yellow);
    }
    &:focus {
      outline: none;
      fill: var(--givi-yellow);
    }
    &:active {
      fill: var(--givi-yellow);
    }
  }
}

.burger {
  @include burger;
}

.breadcrumbs {
  padding: 2rem 0;
  font-weight: 400;
  font-size: 2.2rem;
  color: #000;
  text-transform: lowercase;
  line-height: 3.6rem;
  a {
    color: inherit;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: 0.3s;

    @include hover {
      color: var(--givi-yellow);
    }
    &:focus {
      outline: none;
      color: var(--givi-yellow);
    }
    &:active {
      color: var(--givi-yellow);
    }
  }
  & > span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  & > span > *:not(:last-child) {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    &::after {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      background-image: url("./../img/svg/triangle.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
    }
  }
}

.check {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  div {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-color: #f5f5f5;

    transition-property: color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background-image: url("./../img/svg/check.svg");
      background-size: 2.4rem 2.4rem;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;

      transition-property: opacity;
      transition-duration: 0.1s;
      transition-timing-function: ease;
    }
  }

  input:checked ~ div {
    background-color: var(--givi-yellow);

    &::before {
      opacity: 1;
    }
  }
}
