:root {
  --font-family: "Noto Sans", sans-serif;
  --second-family: "UNCAGE", sans-serif;
  --content-width: 176rem;
  --container-offset: 3rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --givi-yellow: #f8de00;
  --givi-yellow-hover: #fae84c;
  --givi-black: #1c1c1c;
  --white: #fff;
}
