// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "ui";

// подключения компонентов страницы
@import "./components/header";
@import "./components/nav";
@import "./components/hero";
@import "./components/showcase";
@import "./components/take";
@import "./components/catalog";
@import "./components/find";
@import "./components/find-form";
@import "./components/pack";
@import "./components/packs";
@import "./components/socials";
@import "./components/benefits";
@import "./components/guide";
@import "./components/consult";
@import "./components/faq";
@import "./components/cta";
@import "./components/footer";
@import "./components/menu";
@import "./components/category";
@import "./components/product";
@import "./components/get-pack";
@import "./components/cart-item";
@import "./components/summary";
@import "./components/cart";
@import "./components/profile";
@import "./components/filters";
@import "./components/filters-table";
@import "./components/lesson-item";
@import "./components/video-sec";
@import "./components/notes";
@import "./components/form";
@import "./components/main-catalog";
@import "./components/modal";
